/* ======================================================= TAILWIND =======================================================*/
@import "tailwindcss";

.blue-gradient {
  @apply bg-gradient-to-br from-[#25254C] to-[#6A6DBD];
}
.red-gradient {
  @apply bg-gradient-to-br from-[#FA557B] to-[#BB2649];
}
.gray-gradient {
  @apply bg-gradient-to-br from-[#CECFEE] to-[#f3f3f3];
}

.see-all {
  @apply inline-block mt-5 py-2 px-5 text-[#25254C] bg-white rounded-4xl 3xl:py-4 3xl:px-5 3xl:text-lg
}

.light-shadow {
  @apply shadow-[0_3px_10px_rgba(0,0,0,0.5)]
}

.slider-arrow-up {
  @apply hidden bg-[#2C2D58] transition-transform duration-200 md:flex justify-center items-center fixed bottom-7 right-10 w-15 h-15 z-6 rounded-[50px] active:scale-110;
}

._container {
  @apply mx-auto container px-4 3xl:px-20;
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

/* ======================================================= FONTS =======================================================*/

@font-face {
  font-family: 'Steppe';
  src: url('./assets/fonts/Steppe/Steppe-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./assets/fonts/Steppe/Steppe-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./assets/fonts/Steppe/Steppe-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./assets/fonts/Steppe/Steppe-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./assets/fonts/Steppe/Steppe-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./assets/fonts/Steppe/Steppe-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* ======================================================= GLOBAL =======================================================*/
body {
  width: 100%;
  height: 100%;

  font-family: 'Steppe';
}

body.lock {
  overflow: hidden;
}

input:focus {
  outline: none;
}

/* ======================================================= SCROLL BAR =======================================================*/

::-webkit-scrollbar {
  position: absolute;
  right: 0; top: 0;
  height: 100%;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ======================================================= HEADER =======================================================*/
.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header::after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgb(49, 49, 96) 40%,
    rgb(49, 49, 96) 60%,
    rgba(0, 212, 255, 0) 100%
  );
}

@media (max-width: 768px) {
  .header::after {
    margin-top: 21px;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.border-bottom::after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgb(49, 49, 96) 40%,
    rgb(49, 49, 96) 60%,
    rgba(0, 212, 255, 0) 100%
  );
}

.header-white-icons:nth-child(2) {
  height: 30px;
}

/* ======================================================= MODAL =======================================================*/
.modal {
  background: url("./assets/images/background.png") no-repeat center
    center/cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  scroll-behavior: smooth;
}

.modal__heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.modal__heading::after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgb(49, 49, 96) 40%,
    rgb(49, 49, 96) 60%,
    rgba(0, 212, 255, 0) 100%
  );
}

@media (min-width: 768px) {
  .header-menu-links > span {
    display: flex;
    align-items: center;
    transform: translateX(-10px);
  }

  .header-menu-links > span::before {
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 12px;
    height: 12px;
    background: #282850;
    border-radius: 25px;
    transition: 0.3s all ease-in-out;
  }

  .header-menu-links > span:hover::before {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-right: 10px;
  }
}

/* ======================================================= SWIPER =======================================================*/

.swiper-scrollbar {
  transform: translate(-50%, 40%);
  height: 100%;
  background: #d9d9d9;
  width: 12px !important;
  height: 60vh !important;
}

.swiper-scrollbar-drag {
  background: #25254c !important;
}

.swiper-slide > section {
  height: 100vh;
}

@media (max-width: 768px) {
  .swiper-slide > section {
    height: 89vh;
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* ======================================================= HERO =======================================================*/
#hero {
  background: url("./assets/images/background.png") no-repeat center
    center/cover;
}